@font-face {font-family: "font-sina";
    src: url('font-sina.eot?t=1591777862191'); /* IE9 */
    src: url('font-sina.eot?t=1591777862191#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font-sina.woff2?t=1591777862191') format('woff2'),
    url('font-sina.woff?t=1591777862191') format('woff'),
    url('font-sina.ttf?t=1591777862191') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('font-sina.svg?t=1591777862191#font-sina') format('svg'); /* iOS 4.1- */
  }
  .font-sina{
    font-family: "font-sina" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-uniE90D:before {
    content: "\E90D";
  }
  .icon-uniE930:before {
    content: "\E930";
  }
  .icon-uniE93B:before {
    content: "\E93B";
  }
  .icon-uniE932:before {
    content: "\E932";
  }


